body {
  background-image: url("./todolist_bg.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* Style the todolist container */
.todolist-container {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Background color with some transparency */
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  /* For Smaller Devices */
  .todolist-container {
    margin: 50px 15px;
  }
}

/* Additional styles for headings */
.todolist-container h1,
.todolist-container h2 {
  text-align: center;
  color: #333;
}
