div.task {
  background-color: #30313d;
  color: white;
  border-radius: 10px;
  padding: 5px 9px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  transition: opacity 0.3s linear;
}
div.task svg {
  height: 20px;
  margin-right: 6px;
  fill: #61dafb;
}
div.task.done {
  opacity: 0.3;
}
div.task-name,
div.task form {
  flex-grow: 1;
}
div.task span {
  position: relative;
}
div.task span:before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  top: 10px;
  transition: width 0.1s linear;
}
div.task.done span:before {
  width: 100%;
}

h1,
h2 {
  text-align: center;
}

div.checkbox {
  display: flex;
  align-items: center;
}

button.trash {
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
}
button.trash svg {
  fill: #888;
  height: 14px;
}
div.task input {
  border: 2px solid #555;
  border-radius: 5px;
  color: white;
  padding: 2px 4px;
}
